* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: aqua;
    color: black;
    text-align: center;
    padding: 20px;
}


h1 {
    margin-bottom: 30px;
    font-size: 40px;
    text-transform: uppercase;
    color: black;
}


.menu-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

table {
    width: 30%; 
    border: 2px solid palegreen;
    border-collapse: collapse;
    background: brown;
    position: relative; 
    margin-bottom: 20px;
}
caption{
    background-color: yellow;
}

caption {
    position: absolute;
    top: 5px;
    right: 5px; 
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 8px;
    text-align: center;
    width: fit-content;
    
}

td {
    padding: 15px;
    text-align: justify;
    font-size: 14px;
    line-height: 1.5;
    position: relative;
    padding-top: 40px; 
}




@media (min-width: 768px) and (max-width: 1023px) {
    h1 {
        font-size: 32px; 
    }

    .menu-container {
        flex-direction: row;
        justify-content: space-between; 
    }

    
    table {
        width: 45%;
    }

    
    .Mutton {
        width: 100%;
    }

    
    caption {
        font-size: 14px; 
        padding: 6px 16px;
    }

    
    td {
        font-size: 13px;
    }
}


@media (max-width: 767px) {
    .menu-container {
        flex-direction: column;
        gap: 15px;
        align-items: center; 
    }

    
    table {
        width: 100%;
    }

    
    caption {
        font-size: 12px;
        padding: 3px 8px;
    }

   
    td {
        font-size: 12px;
        padding-top: 35px; 
    }
}


@media (min-width: 1024px) {
    .menu-container {
        justify-content: space-around;
        gap: 30px; 
    }

    table {
        width: 30%; 
        height: 50%;

    caption {
        font-size: 16px;
        padding: 8px 20px;
    }

    td {
        font-size: 15px;
    }
}